{#
    Available variables:
    heading,
    subheading,
    image,
    paragraphs (array of paragraphs)
#}

<section class="content-wrapper">
    <h2 class="content-heading">{{ heading }}</h2>
    <p class="content-subheading">{{ subheading }}</p>
    {% for paragraph in paragraphs|slice(0, 1) %}
        <p class="content">{{ paragraph }}</p>
    {% endfor %}
    <div class="more-content-wrapper hide">
        {% for paragraph in paragraphs|slice(1) %}
            <p class="content">{{ paragraph }}</p>
        {%  endfor %}
    </div>
    <button class="read-more" onClick="toggleTextDisplay()">Read more</button>
    <img class="content-image" src="{{ image }}" />
</section>